

#withdraw-button{

    -fx-background-color: darkred;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#deposit-button{
    -fx-background-color: darkgreen;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.admin-container{
    -fx-background-color: #1a181aff;
}
.container{
    -fx-background-color: #1a181aff;
}

#balance{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-under-primary-label{
    -fx-text-fill: white;


}

.cool-text{
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 14px;
}

.cool-button {

    -fx-background-color: grey ;
    -fx-text-fill: white;

    -fx-text-alignment: center;

}

.cool-button:hover{
    -fx-background-color: #505050ff ; /* Grey */
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.cool-label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.cool-table{
    -fx-background-color: white;
}