.banner {
    -fx-background-color: #555555;
    -fx-text-fill: white;
}

.PrimaryToolbar{
    -fx-background-color: #1a181aff;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.whole-body{
    -fx-background-color: #1a181aff;
}

.whole-body Center{
    -fx-background-color: #1a181aff;
}

.whole-body CENTER{
    -fx-background-color: #1a181aff;
}

.whole-body center{
    -fx-background-color: #1a181aff;
}
.PrimaryToolbarItemOption{
    -fx-text-fill: white;
}

.primary-container-label{
    -fx-text-fill: white;
}
.banner Label {
    -fx-font-size: 16px;


}

.text-under-primary-label{
    -fx-text-fill: white;
}