

.banner {
    -fx-background-color: #e3e3e3;
}

.PrimaryToolbar{
    -fx-background-color: #EDF3F6;
    -fx-font-weight: bold;
}

.banner Label {
    -fx-font-size: 16px;
}

#withdraw-button{

    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#deposit-button{
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-cursor: hand;
}